.cardContainer {
  margin-top: 5px;
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: rgb(228, 235, 217);
}

.cardContainer:hover {
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  border: 2px solid rgb(43, 83, 43);
  background-color: rgb(178, 202, 168);
}
